<h2>My People</h2>
<ul class="people">
  <li *ngFor="let person of people" 
    [class.selected]="person === selectedperson"
    (click)="onSelect(person)">
    <span class="badge">{{person.id}}</span> {{person.name}}
  </li>
</ul>

<div *ngIf="selectedperson">
<h2>{{selectedperson.name | uppercase}} Details</h2>
<div><span>id: </span>{{selectedperson.id}}</div>
<div><span>Age: </span>{{selectedperson.age}}</div>
<div><span>Location: </span>{{selectedperson.location}}</div>
<div>
  <label>name:
    <input [(ngModel)]="selectedperson.name" placeholder="name"/>
  </label>
</div>
</div>